@tailwind base;
@tailwind components;
@tailwind utilities;

/* --header-minus */
:root{
    --header-height:64px;
    --screen-minus-header:calc(100vh - (var(--header-height)));
    --footer-height:50px;
    --screen-minus-header-minus-footer:calc(var(--screen-minus-header) - var(--footer-height))
}

.dark{
    --bg-primary:#000000;
    --text-primary:#ffff;
}

.light{
    --bg-primary:#ffff;
    --text-primary:#000000;
}
