@tailwind base;
@tailwind components;
@tailwind utilities;

/* --header-minus */
:root{
    --header-height:64px;
    --screen-minus-header:calc(100vh - (var(--header-height)));
    --footer-height:50px;
    --screen-minus-header-minus-footer:calc(var(--screen-minus-header) - var(--footer-height) - 4rem);
    --article-form-height:88px;
}

.dark{
    --bg-primary:#000000;
    --text-primary:#ffff;
}

.light{
    --bg-primary:#ffff;
    --text-primary:#000000;
}
/* apply manual styles to markdown */

.prose>h1,h2,h3,h4,h5,p{
    color: var(--text-primary);
}
.markdown{
    max-width: 100%;
    padding: 1rem;
}

@media  screen and (min-width:800px) {
    .markdown{
        padding: 0rem;
    }
}



